Repository fairagro/m4.2_advanced_middleware_api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit, pylint

ruff:
  name: ruff lint
  entry: uv run ruff check
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  args:
  - --explicit-package-bases
  - --ignore-missing-imports

bandit:
  name: bandit security scan
  entry: uv run bandit -r
  language: system
  args:
  - --skip
  - B101
  - -ll

pylint:
  name: pylint
  entry: uv run pylint
  language: system
  args:
  - --fail-under=8.0
  - --output-format=colorized
  - --rcfile=pyproject.toml

Implement admission control middleware and configuration
  AGENTS.md
  middleware/api/spec/admission-control/design.md
  middleware/api/spec/admission-control/tasks.md
  middleware/api/src/middleware/api/api/admission_control.py
  middleware/api/src/middleware/api/api/fastapi_app.py
  middleware/api/src/middleware/api/config.py
  middleware/api/tests/unit/test_admission_control.py
  middleware/api/tests/unit/test_lifespan_errors.py
  middleware/api_client/tests/client_test_support.py
  middleware/api_client/tests/unit/conftest.py
  middleware/api_client/tests/unit/test_client.py
  middleware/api_client/tests/unit/test_harvest_arcs.py
Due: ruff, ruff-format, mypy, bandit, pylint

Potential fix for pull request finding
  middleware/api/src/middleware/api/document_store/couchdb.py
Due: ruff, ruff-format, mypy, bandit, pylint

Potential fix for pull request finding
  middleware/api/spec/admission-control/design.md
Due: none

Enhance error handling in ApiClient for transport/request errors
  middleware/api_client/src/middleware/api_client/api_client.py
  middleware/api_client/tests/unit/test_client.py
Due: ruff, ruff-format, mypy, bandit, pylint

Implement jittered `Retry-After` for admission control responses
  middleware/api/spec/admission-control/design.md
  middleware/api/spec/admission-control/spec.md
  middleware/api/src/middleware/api/api/admission_control.py
  middleware/api/src/middleware/api/api/fastapi_app.py
  middleware/api/src/middleware/api/config.py
  middleware/api/tests/unit/test_admission_control.py
Due: ruff, ruff-format, mypy, bandit, pylint

deps: Update renovatebot/github-action action to v46.1.21
  .github/workflows/renovate.yml
Due: none

Refactor devcontainer setup and remove deprecated configurations
  .devcontainer/README.md
  .devcontainer/antigravity/devcontainer.json
  .devcontainer/cursor/README.md
  .devcontainer/cursor/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-config/config.json
  .devcontainer/vscode/devcontainer-lock.json
  .gitignore
  dev_environment/README.md
  dev_environment/start.sh
  scripts/install-cursor-ruff-extension.sh
  scripts/install-ruff-extension.sh
  scripts/load-env.sh
  scripts/setup-container-docker.sh
  scripts/setup-container-gpg.sh
  scripts/setup-git-lfs.sh
  scripts/start-devcontainer-cursor.sh
Due: none

Update configuration and principles documentation for module dependencies
  openspec/config.yaml
  openspec/principles.md
Due: none

Add shared harvest report capabilities and JSON-LD serialization
  .devcontainer/devcontainer.json
  .github/workflows/publish-ns-pages.yml
  AGENTS.md
  middleware/shared/src/middleware/shared/report/__init__.py
  middleware/shared/src/middleware/shared/report/emit.py
  middleware/shared/src/middleware/shared/report/formats/__init__.py
  middleware/shared/src/middleware/shared/report/formats/base.py
  middleware/shared/src/middleware/shared/report/formats/jsonld.py
  middleware/shared/src/middleware/shared/report/model.py
  middleware/shared/tests/unit/test_harvest_report.py
  ns/harvest-report/v1/README.md
  ns/harvest-report/v1/context.jsonld
  ns/harvest-report/v1/index.html
  openspec/changes/shared-harvest-report/.openspec.yaml
  openspec/changes/shared-harvest-report/README.md
  openspec/changes/shared-harvest-report/design.md
  openspec/changes/shared-harvest-report/proposal.md
  openspec/changes/shared-harvest-report/specs/harvest-report/spec.md
  openspec/changes/shared-harvest-report/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Update pyproject.toml and enhance error handling in report serialization
  middleware/shared/src/middleware/shared/report/emit.py
  middleware/shared/tests/unit/test_harvest_report.py
  pyproject.toml
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor repository_reports type in HarvestReport and related tests
  middleware/shared/src/middleware/shared/report/model.py
  middleware/shared/tests/unit/test_harvest_report.py
Due: ruff, ruff-format, mypy, bandit, pylint

Update VSCode settings to use workspace-relative paths for Python testing
  .vscode/settings.json
Due: none

Refactor Dev Container setup and streamline post-creation process
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  AGENTS.md
  scripts/devcontainer-post-create.sh
  scripts/import-public-gpg-keys.sh
  scripts/install-dev-hooks.sh
  scripts/install-ruff-extension.sh
  scripts/uv-sync-dev.sh
Due: none

Enhance ISO timestamp formatting and add validation for naive timestamps
  middleware/shared/src/middleware/shared/report/formats/jsonld.py
  middleware/shared/tests/unit/test_harvest_report.py
Due: ruff, ruff-format, mypy, bandit, pylint

deps: Update renovatebot/github-action action to v46.2.0
  .github/workflows/renovate.yml
Due: none

Refactor harvest report model to support mutable accumulation and counting methods
  openspec/changes/shared-harvest-report/design.md
  openspec/changes/shared-harvest-report/proposal.md
  openspec/changes/shared-harvest-report/specs/harvest-report/spec.md
  openspec/changes/shared-harvest-report/tasks.md
Due: none

Refactor harvest report model and remove stdout emission
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  AGENTS.md
  middleware/shared/src/middleware/shared/report/__init__.py
  middleware/shared/src/middleware/shared/report/emit.py
  middleware/shared/src/middleware/shared/report/formats/jsonld.py
  middleware/shared/src/middleware/shared/report/model.py
  middleware/shared/tests/unit/test_harvest_report.py
  openspec/changes/shared-harvest-report/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Implement timezone-aware datetime validation in HarvestReport and RepositoryScope
  middleware/shared/src/middleware/shared/report/model.py
  middleware/shared/tests/unit/test_harvest_report.py
  openspec/changes/shared-harvest-report/specs/harvest-report/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

Update package versions in uv.lock and Dockerfile.api
  docker/Dockerfile.api
  uv.lock
Due: none

Refactor docstrings for clarity and conciseness across multiple modules
  middleware/api/src/middleware/api/api/fastapi_app.py
  middleware/api/src/middleware/api/arc_store/git_repo.py
  middleware/api/src/middleware/api/business_logic/arc_manager.py
  middleware/api/src/middleware/api/business_logic/business_logic.py
  middleware/shared/src/middleware/shared/report/model.py
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance HarvestReport and timezone-aware datetime handling
  middleware/shared/src/middleware/shared/report/model.py
  middleware/shared/tests/unit/test_harvest_report.py
Due: ruff, ruff-format, mypy, bandit, pylint

deps: Update mcr.microsoft.com/devcontainers/base Docker tag to v2.1.13
  .devcontainer/Dockerfile
Due: none

deps: Update renovatebot/github-action action to v46.2.1
  .github/workflows/renovate.yml
Due: none

Enhance Celery integration for RabbitMQ compatibility
  middleware/api/src/middleware/api/celery_integration.py
  middleware/api/src/middleware/api/worker/celery_app.py
  uv.lock
Due: ruff, ruff-format, mypy, bandit, pylint

deps: Update GitHub Actions (major)
  .github/workflows/publish-ns-pages.yml
Due: none

Refactor harvest reporting model to unify failure handling
  AGENTS.md
  middleware/shared/src/middleware/shared/report/__init__.py
  middleware/shared/src/middleware/shared/report/formats/jsonld.py
  middleware/shared/src/middleware/shared/report/model.py
  middleware/shared/tests/unit/test_harvest_report.py
  ns/harvest-report/v1/README.md
  ns/harvest-report/v1/context.jsonld
  openspec/changes/shared-harvest-report/design.md
  openspec/changes/shared-harvest-report/specs/harvest-report/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

Update harvest report vocabulary to version 2
  .github/workflows/publish-ns-pages.yml
  middleware/shared/src/middleware/shared/report/formats/jsonld.py
  middleware/shared/tests/unit/test_harvest_report.py
  ns/harvest-report/v2/README.md
  ns/harvest-report/v2/context.jsonld
  ns/harvest-report/v2/index.html
  openspec/changes/shared-harvest-report/design.md
  openspec/changes/shared-harvest-report/proposal.md
  openspec/changes/shared-harvest-report/specs/harvest-report/spec.md
  openspec/changes/shared-harvest-report/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Implement HarvestIssue validation and normalization
  middleware/shared/src/middleware/shared/report/formats/jsonld.py
  middleware/shared/src/middleware/shared/report/model.py
  middleware/shared/tests/unit/test_harvest_report.py
  openspec/changes/shared-harvest-report/design.md
  openspec/changes/shared-harvest-report/proposal.md
  openspec/changes/shared-harvest-report/specs/harvest-report/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

deps: Update dependency gitpython to v3.1.58 [SECURITY]
  uv.lock
Due: none

deps: Update renovatebot/github-action action to v46.2.2
  .github/workflows/renovate.yml
Due: none

Add script to list failed ARC JSON jobs with error summaries
  scripts/list_failed_arc_json_jobs.py
Due: ruff, ruff-format

Increase default job limit and enhance failed job scanning logic in `list_failed_arc_json_jobs.py`
  scripts/list_failed_arc_json_jobs.py
Due: ruff, ruff-format

Add markdown linting configuration and update dependencies
  .devcontainer/README.md
  .github/workflows/reusable-code-quality.yml
  .markdownlint-cli2.jsonc
  .markdownlintignore
  .pre-commit-config.yaml
  .vscode/settings.json
  AGENTS.md
  docs/architecture/couchdb-migration-plan.md
  docs/architecture/logfire-and-couchdb-consolidation-plan.md
  middleware/api/README.md
  middleware/api/pyproject.toml
  middleware/api/src/middleware/api/document_store/couchdb_client.py
  middleware/api/tests/system_external/conftest.py
  middleware/api/tests/system_external/test_system_create_or_update_arcs.py
  middleware/api/tests/system_local/test_system_couchdb_persistence.py
  middleware/api/tests/unit/test_couchdb_client.py
  middleware/api_client/pyproject.toml
  middleware/shared/pyproject.toml
  middleware/tools/README.md
  middleware/tools/pyproject.toml
  openspec/config.yaml
  openspec/principles.md
  pyproject.toml
  scripts/quality-fix.sh
  uv.lock
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance RO-Crate content hashing to prevent from empty commits and introduce comparison script
  middleware/api/src/middleware/api/document_store/content_hash.py
  middleware/api/tests/unit/test_content_hash.py
  scripts/diff_arc_content_hash.py
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor unit test for content hash calculation to improve readability
  middleware/api/tests/unit/test_content_hash.py
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance quality check process and documentation
  .devcontainer/README.md
  AGENTS.md
  scripts/quality-check.sh
  scripts/quality-fix.sh
Due: none

Refactor CouchDB client authentication handling and add unit test for empty credentials
  middleware/api/src/middleware/api/document_store/couchdb_client.py
  middleware/api/tests/unit/test_couchdb_client.py
Due: ruff, ruff-format, mypy, bandit, pylint

Add Harvest Create Idempotency-Key feature
  openspec/changes/harvest-create-idempotency-key/.openspec.yaml
  openspec/changes/harvest-create-idempotency-key/design.md
  openspec/changes/harvest-create-idempotency-key/proposal.md
  openspec/changes/harvest-create-idempotency-key/specs/harvest-client/spec.md
  openspec/changes/harvest-create-idempotency-key/specs/harvest-manager/spec.md
  openspec/changes/harvest-create-idempotency-key/tasks.md
Due: none

Implement Idempotency-Key for Harvest Creation
  middleware/api/src/middleware/api/api/fastapi_app.py
  middleware/api/src/middleware/api/api/v3/harvests.py
  middleware/api/src/middleware/api/business_logic/__init__.py
  middleware/api/src/middleware/api/business_logic/exceptions.py
  middleware/api/src/middleware/api/business_logic/harvest_manager.py
  middleware/api/src/middleware/api/document_store/__init__.py
  middleware/api/src/middleware/api/document_store/couchdb.py
  middleware/api/src/middleware/api/document_store/couchdb_client.py
  middleware/api/src/middleware/api/document_store/harvest_idempotency_document.py
  middleware/api/tests/unit/test_harvest_idempotency.py
  middleware/api/tests/unit/test_harvest_manager.py
  middleware/api/tests/unit/test_v3_harvests.py
  middleware/api_client/src/middleware/api_client/api_client.py
  middleware/api_client/tests/unit/test_client.py
  openspec/changes/harvest-create-idempotency-key/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: ^middleware/ and \.py$
  bandit: any of: ^middleware/ and \.py$ and not (^middleware/tests/)
  pylint: any of: ^middleware/ and \.py$
