Repository fairagro/m4.2_advanced_middleware_api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit, pylint

.pre-commit-config.yaml:

# Pre-commit configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# All hooks use 'uv run' to execute tools defined in pyproject.toml
# This ensures consistency with the quality-check.sh script and uv.lock

repos:
  # Built-in hooks (no dependencies needed)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^helmchart/[^/]+/templates/.*\.ya?ml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/gitguardian/ggshield
    rev: v1.44.1
    hooks:
      - id: ggshield

  # All Python quality checks using uv run (local hooks)
  - repo: local
    hooks:
      # Ruff - Linting
      - id: ruff
        name: ruff lint
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix, --exit-non-zero-on-fix]

      # Ruff - Formatting
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      # mypy - Type checking
      - id: mypy
        name: mypy type check
        entry: uv run mypy
        language: system
        types: [python]
        files: ^middleware/
        args: [--explicit-package-bases, --ignore-missing-imports]

      # bandit - Security linting
      - id: bandit
        name: bandit security scan
        entry: uv run bandit -r
        language: system
        types: [python]
        files: ^middleware/
        exclude: ^middleware/tests/
        args: [--skip, B101, -ll]

      # pylint - Code quality
      - id: pylint
        name: pylint
        entry: uv run pylint
        language: system
        types: [python]
        files: ^middleware/
        args: [--fail-under=8.0, --output-format=colorized, --rcfile=pyproject.toml]

      # pytest - Unit tests only (runs on pre-push to keep commits fast)
      - id: pytest-unit
        name: pytest unit tests
        entry: bash -c "uv run pytest middleware/*/tests/unit/"
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-push]
        args: [--tb=short, --cov=api, --cov=api_client,--cov=shared, --cov=sql_to_arc, --cov-report=term-missing]

      # Container Structure Test (runs on pre-push)
      - id: container-structure-test
        name: container structure test
        entry: bash scripts/run-container-structure-test.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

Fix typo in exported diagram directory name.
  docs/diagrams/API_Workflow.svg
  docs/diagrams/Celery_Worker_Workflow.svg
  docs/diagrams/MiddlewareArchitecture.svg
Due: none

Fix Dependabot alerts from ggshield transitive dependencies.
  pyproject.toml
  uv.lock
Due: none

deps: Update Runtime base (Docker + Devcontainer) to v3.24.0
  docker/Dockerfile.api
Due: none

deps: Update GitHub Actions to v4.2.1
  .github/workflows/helm-pre-release.yml
  .github/workflows/helm-release.yml
Due: none

* Fixed docker build in cursor dev containers with docker-in-docker feature. * Fixed update-apk-depencies script. * Updated dependencies in Dockerfile.api
  .devcontainer/cursor/devcontainer.json
  .devcontainer/vscode/devcontainer.json
  .gitignore
  dev_environment/README.md
  dev_environment/start.sh
  docker/Dockerfile.api
  scripts/load-env.sh
  scripts/setup-container-docker.sh
  scripts/update-apk-dependencies.sh
Due: none

Update .gitignore to ignore runtime state in docker-config while tracking minimal config.json; add initial config.json for Docker DinD authentication.
  .devcontainer/docker-config/config.json
  .gitignore
Due: none

deps: Update Runtime base (Docker + Devcontainer)
  .devcontainer/Dockerfile
  docker/Dockerfile.api
Due: none

deps: Update dependency cryptography to v48.0.1 [SECURITY]
  uv.lock
Due: none

deps: Update GitHub Actions to v4.2.2
  .github/workflows/helm-pre-release.yml
  .github/workflows/helm-release.yml
Due: none

Refactor ARC handling to improve RO-Crate validation and GitLab metadata management
  .env.integration.enc
  middleware/api/spec/arc-manager/design.md
  middleware/api/spec/arc-manager/spec.md
  middleware/api/spec/arc-store/design.md
  middleware/api/spec/arc-store/spec.md
  middleware/api/spec/arc-upload/spec.md
  middleware/api/spec/harvest-arc-upload/spec.md
  middleware/api/src/middleware/api/arc_store/__init__.py
  middleware/api/src/middleware/api/arc_store/git_repo.py
  middleware/api/src/middleware/api/arc_store/gitlab_api.py
  middleware/api/src/middleware/api/arc_store/remote_git_provider.py
  middleware/api/src/middleware/api/business_logic/arc_manager.py
  middleware/api/src/middleware/api/business_logic/business_logic.py
  middleware/api/src/middleware/api/document_store/__init__.py
  middleware/api/src/middleware/api/document_store/couchdb.py
  middleware/api/src/middleware/api/document_store/couchdb_client.py
  middleware/api/src/middleware/api/rocrate.py
  middleware/api/src/middleware/api/utils.py
  middleware/api/tests/system_external/conftest.py
  middleware/api/tests/unit/conftest.py
  middleware/api/tests/unit/test_arc_store.py
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_couchdb_store.py
  middleware/api/tests/unit/test_git_repo.py
  middleware/api/tests/unit/test_persistence_gitlab_api.py
  middleware/api/tests/unit/test_remote_repo_manager.py
  middleware/api/tests/unit/test_v3_arcs.py
  middleware/api_client/src/middleware/api_client/api_client.py
  middleware/api_client/tests/unit/test_client.py
  middleware/shared/src/middleware/shared/api_models/common/rocrate.py
  middleware/shared/src/middleware/shared/api_models/v2/models.py
  middleware/shared/src/middleware/shared/api_models/v3/models.py
  middleware/shared/tests/unit/test_rocrate.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance RO-Crate validation and GitLab metadata handling
  middleware/api/spec/arc-manager/design.md
  middleware/api/spec/arc-manager/spec.md
  middleware/api/spec/arc-store/design.md
  middleware/api/spec/arc-store/spec.md
  middleware/api/spec/arc-upload/spec.md
  middleware/api/spec/document-store/design.md
  middleware/api/spec/document-store/spec.md
  middleware/api/spec/harvest-arc-upload/spec.md
  middleware/api/spec/harvest-manager/design.md
  middleware/api/spec/harvest-manager/spec.md
  middleware/api/src/middleware/api/arc_store/git_repo.py
  middleware/api/src/middleware/api/arc_store/remote_git_provider.py
  middleware/api/src/middleware/api/business_logic/arc_manager.py
  middleware/api/src/middleware/api/rocrate.py
  middleware/api/src/middleware/api/utils.py
  middleware/api/tests/unit/rocrate_fixtures.py
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_git_repo.py
  middleware/api/tests/unit/test_remote_repo_manager.py
  middleware/api/tests/unit/test_rocrate_parse.py
  middleware/api/tests/unit/test_utils.py
  pyproject.toml
Due: ruff, ruff-format, mypy, bandit, pylint

deps: Update GitHub Actions (major) to v7
  .github/workflows/codeql.yml
  .github/workflows/feature-pull-request.yml
  .github/workflows/helm-pre-release.yml
  .github/workflows/helm-release.yml
  .github/workflows/renovate.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-check.yml
  .github/workflows/reusable-code-quality.yml
  .github/workflows/reusable-release.yml
Due: none

deps: Update ghcr.io/devcontainers/features/docker-in-docker Docker tag to v4
  .devcontainer/cursor/devcontainer.json
  .devcontainer/vscode/devcontainer.json
Due: none

deps: Update renovatebot/github-action action to v46.1.17
  .github/workflows/renovate.yml
Due: none

Update development environment configurations and enhance type checking
  .devcontainer/antigravity/devcontainer.json
  .devcontainer/cursor/README.md
  .devcontainer/cursor/devcontainer.json
  .devcontainer/vscode/devcontainer.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_rocrate_parse.py
  pyproject.toml
  scripts/install-cursor-ruff-extension.sh
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance GitLab project metadata handling and update dependencies
  middleware/api/spec/arc-store/design.md
  middleware/api/spec/arc-store/spec.md
  middleware/api/src/middleware/api/arc_store/remote_git_provider.py
  middleware/api/tests/unit/test_remote_repo_manager.py
  pyproject.toml
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor ARC creation and GitLab sync error handling
  middleware/api/src/middleware/api/business_logic/arc_manager.py
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance RO-Crate text field normalization and update documentation
  middleware/api/spec/arc-manager/spec.md
  middleware/shared/src/middleware/shared/api_models/common/rocrate.py
  middleware/shared/tests/unit/test_rocrate.py
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance GitLab project metadata application logic
  middleware/api/src/middleware/api/arc_store/remote_git_provider.py
  middleware/api/tests/unit/test_remote_repo_manager.py
Due: ruff, ruff-format, mypy, bandit, pylint

Fix harvest stats ARC selector to use doc_type
  middleware/api/src/middleware/api/document_store/couchdb.py
  middleware/api/tests/unit/test_couchdb_store.py
Due: ruff, ruff-format, mypy, bandit, pylint

Add script to delete GitLab ARC projects
  scripts/delete_gitlab_arc_projects.py
Due: ruff, ruff-format

Enhance project deletion logic in GitLab ARC script
  scripts/delete_gitlab_arc_projects.py
Due: ruff, ruff-format

Enhance GitLab ARC project deletion script
  scripts/delete_gitlab_arc_projects.py
Due: ruff, ruff-format

Update GitLab project naming convention and sanitization logic
  middleware/api/spec/arc-store/design.md
  middleware/api/spec/arc-store/spec.md
  middleware/api/src/middleware/api/arc_store/remote_git_provider.py
  middleware/api/tests/unit/test_remote_repo_manager.py
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor GitLab ARC project deletion script for improved functionality
  scripts/delete_gitlab_arc_projects.py
Due: ruff, ruff-format

Add RDI GitLab topic mapping support in configuration and validation
  dev_environment/middleware-api-config.yaml
  helmchart/fairagro-advanced-middleware-api-chart/values.yaml
  middleware/api/spec/arc-store/design.md
  middleware/api/spec/arc-store/spec.md
  middleware/api/src/middleware/api/arc_store/config.py
  middleware/api/src/middleware/api/arc_store/git_repo.py
  middleware/api/src/middleware/api/arc_store/remote_git_provider.py
  middleware/api/src/middleware/api/config.py
  middleware/api/src/middleware/api/worker/config.py
  middleware/api/tests/integration/test_system_git_repo.py
  middleware/api/tests/unit/conftest.py
  middleware/api/tests/unit/test_config.py
  middleware/api/tests/unit/test_remote_repo_manager.py
Due: ruff, ruff-format, mypy, bandit, pylint

Update RDI names in Helm chart values for improved clarity
  helmchart/fairagro-advanced-middleware-api-chart/values.yaml
Due: none

Refactor chart label generation logic in Helm template
  helmchart/fairagro-advanced-middleware-api-chart/templates/_helpers.tpl
Due: none

Update API client to serialize ARC uploads with wire aliases
  middleware/api_client/src/middleware/api_client/api_client.py
  middleware/api_client/tests/unit/test_client.py
Due: ruff, ruff-format, mypy, bandit, pylint

Add content hash utilities for RO-Crate change detection
  .github/workflows/reusable-code-quality.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  middleware/api/src/middleware/api/document_store/content_hash.py
  middleware/api/src/middleware/api/document_store/couchdb.py
  middleware/api/tests/unit/test_content_hash.py
  middleware/api/tests/unit/test_couchdb_store.py
  middleware/tools/repro_arctrl_rocrate_dates.py
  pyproject.toml
Due: ruff, ruff-format, mypy, bandit, pylint

Update Helm chart documentation and values for appVersion and image tag handling
  .github/workflows/helm-release.yml
  helmchart/fairagro-advanced-middleware-api-chart/Chart.yaml
  helmchart/fairagro-advanced-middleware-api-chart/values.yaml
Due: none

deps: Update mcr.microsoft.com/devcontainers/base Docker tag to v2.1.11
  .devcontainer/Dockerfile
Due: none

deps: Update GitHub Actions
  .github/workflows/helm-pre-release.yml
  .github/workflows/helm-release.yml
  .github/workflows/renovate.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-code-quality.yml
  .github/workflows/reusable-release.yml
Due: none

Enhance GitLab project description handling
  middleware/api/spec/arc-store/design.md
  middleware/api/spec/arc-store/spec.md
  middleware/api/src/middleware/api/arc_store/remote_git_provider.py
  middleware/api/tests/unit/test_remote_repo_manager.py
Due: ruff, ruff-format, mypy, bandit, pylint

deps: Update uv and curl versions in Dockerfile.api
  docker/Dockerfile.api
Due: none

deps: Update astral-sh/setup-uv action to v9
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-code-quality.yml
  .github/workflows/reusable-release.yml
Due: none

deps: Update dependency gitpython to v3.1.52 [SECURITY]
  uv.lock
Due: none

Enhance ARC upload and management processes
  AGENTS.md
  middleware/api/spec/arc-manager/design.md
  middleware/api/spec/arc-manager/spec.md
  middleware/api/spec/arc-upload/spec.md
  middleware/api/spec/document-store/design.md
  middleware/api/spec/document-store/spec.md
  middleware/api/spec/harvest-arc-upload/design.md
  middleware/api/spec/harvest-arc-upload/spec.md
  middleware/api/spec/harvest-arc-upload/tasks.md
  middleware/api/spec/harvest-manager/spec.md
  middleware/api_client/spec/harvest-client/design.md
Due: none

Refactor ARC upload logic for improved idempotency and conflict handling
  middleware/api/spec/harvest-arc-upload/tasks.md
  middleware/api/src/middleware/api/document_store/couchdb.py
  middleware/api/src/middleware/api/document_store/couchdb_client.py
  middleware/api/tests/unit/test_couchdb_store.py
  middleware/api/tests/unit/test_v3_harvests.py
  middleware/api_client/spec/harvest-client/design.md
  middleware/api_client/src/middleware/api_client/api_client.py
  middleware/api_client/tests/unit/test_client.py
Due: ruff, ruff-format, mypy, bandit, pylint

Add admission control for concurrent request handling
  AGENTS.md
  middleware/api/spec/admission-control/design.md
  middleware/api/spec/admission-control/spec.md
  middleware/api/spec/admission-control/tasks.md
Due: none
