Repository fairagro/m4.2_advanced_middleware_api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit, pylint

ruff:
  name: ruff lint
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  args:
  - --ignore-missing-imports

bandit:
  name: bandit security scan
  entry: uv run bandit -r
  language: system
  args:
  - --skip
  - B101
  - -ll

pylint:
  name: pylint
  entry: uv run pylint
  language: system
  args:
  - --fail-under=8.0
  - --output-format=colorized
  - --rcfile=pyproject.toml

calling pre-commit in quality-check.sh
  scripts/quality-check.sh
Due: none

Update scripts/load-env.sh
  scripts/load-env.sh
Due: none

Update scripts/quality-check.sh
  scripts/quality-check.sh
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fixed wrong base64 encoding logic
  helmchart/fairagro-advanced-middleware-api-chart/templates/ca-tls-secret.yaml
  helmchart/fairagro-advanced-middleware-api-chart/templates/server-tls-secret.yaml
Due: none

added dedicated script for running the container structure test
  .pre-commit-config.yaml
  scripts/run-container-structure-test.sh
Due: none

added check for secrets
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
Due: none

automatically logging in to gitguardian
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  scripts/load-env.sh
Due: none

fixed key rendering
  helmchart/fairagro-advanced-middleware-api-chart/templates/ca-tls-secret.yaml
  helmchart/fairagro-advanced-middleware-api-chart/templates/server-tls-secret.yaml
Due: none

fixed secret key name
  helmchart/fairagro-advanced-middleware-api-chart/templates/config-secret.yaml
Due: none

do not create CA secret, wie noch needed
  helmchart/fairagro-advanced-middleware-api-chart/templates/ca-tls-secret.yaml
Due: none

chore: bump version to 1.0.1 [skip ci]
  pyproject.toml
Due: none

introduced mtlsVerifyDepth do support arbitary length CA cert chains
  helmchart/fairagro-advanced-middleware-api-chart/templates/ingress.yaml
  helmchart/fairagro-advanced-middleware-api-chart/values.yaml
Due: none

added two new config items: `known_rdis` and `client_auth_oid`. Also parsing client certificates to SAN extension values that match `client_auth_oid`.
  middleware_api/api.py
  middleware_api/business_logic.py
  middleware_api/config.py
  tests/unit/conftest.py
  tests/unit/test_create_or_update_arcs.py
  tests/unit/test_middleware_api.py
  tests/unit/test_whoami.py
Due: ruff, ruff-format, mypy, bandit, pylint

we need to login to git guradian in order for the pre-commit hooks to run through
  scripts/load-env.sh
Due: none

updated create_or_update_arcs body to include an rdi parameter. Validating this parameter again the list of allowed rdis in the client certificate. Also some refactorings.
  middleware_api/api.py
  middleware_api/business_logic.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_create_or_update_arcs.py
  tests/unit/conftest.py
  tests/unit/test_create_or_update_arcs.py
  tests/unit/test_middleware_api.py
  tests/unit/test_whoami.py
Due: ruff, ruff-format, mypy, bandit, pylint

Update tests/unit/test_middleware_api.py
  tests/unit/test_middleware_api.py
Due: ruff, ruff-format

Removed InvalidJsonSyntaxError as this is no covered by Pydantic
  middleware_api/business_logic.py
  tests/unit/test_create_or_update_arcs.py
  tests/unit/test_middleware_api.py
Due: ruff, ruff-format, mypy, bandit, pylint

catching InvalidJsonSemanticError again
  middleware_api/api.py
Due: ruff, ruff-format, mypy, bandit, pylint

narrowed down Exception class
  middleware_api/api.py
Due: ruff, ruff-format, mypy, bandit, pylint

checking for allowed rdis
  middleware_api/api.py
Due: ruff, ruff-format, mypy, bandit, pylint

refactored arc_id code. introduced checking for allowed rdis
  middleware_api/arc_store/__init__.py
  middleware_api/arc_store/gitlab_api.py
  middleware_api/business_logic.py
  middleware_api/config.py
  tests/integration/conftest.py
  tests/unit/conftest.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: bump version to 2.0.0 [skip ci]
  pyproject.toml
Due: none

removed auto generated secrets doc
  doc/secrets.md
Due: none

being more specific
  middleware_api/api.py
Due: ruff, ruff-format, mypy, bandit, pylint

manually bumped version
  pyproject.toml
Due: none

reading version from pyproject.toml
  middleware_api/api.py
  uv.lock
Due: ruff, ruff-format, mypy, bandit, pylint

there's no need to optimize the build stage of the Dockerfile
  Dockerfile
Due: none

removed unneeded shel from healthcheck
  Dockerfile
Due: none

the official FAIRagro OID
  middleware_api/config.py
Due: ruff, ruff-format, mypy, bandit, pylint

fixed load-env.sh execution
  .devcontainer/devcontainer.json
Due: none

improved dealing with ggshield auth login
  .gitignore
  scripts/load-env.sh
Due: none

removed comment
  .env.integration.enc
Due: none

to sure to be .env compatible
  .sops.yaml
Due: none

adapted to code changes and added the official image
  doc/python_related.md
  example_config.yaml
Due: none

added a README
  doc/client_certificates.md
Due: none

Update .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
Due: none

chore: bump version to 2.0.1 [skip ci]
  pyproject.toml
Due: none

using custom extensions for authorizations instead of SAN field
  middleware_api/api.py
  pyproject.toml
  tests/conftest.py
  tests/integration/test_create_or_update_arcs.py
  uv.lock
Due: ruff, ruff-format, mypy, bandit, pylint

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: ^middleware_api/ and \.py$
  bandit: any of: ^middleware_api/ and \.py$ and not (^tests/)
  pylint: any of: ^middleware_api/ and \.py$
