Repository fairagro/m4.2_advanced_middleware_api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit, pylint

ruff:
  name: ruff lint
  entry: uv run ruff check
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  args:
  - --explicit-package-bases
  - --ignore-missing-imports

bandit:
  name: bandit security scan
  entry: uv run bandit -r
  language: system
  args:
  - --skip
  - B101
  - -ll

pylint:
  name: pylint
  entry: uv run pylint
  language: system
  args:
  - --fail-under=8.0
  - --output-format=colorized
  - --rcfile=pyproject.toml

Refactor ArcStore configuration and remove legacy keys
  dev_environment/middleware-api-config.yaml
  helmchart/fairagro-advanced-middleware-api-chart/templates/NOTES.txt
  helmchart/fairagro-advanced-middleware-api-chart/templates/config-secret.yaml
  helmchart/fairagro-advanced-middleware-api-chart/values.yaml
  helmchart/test_deploy/values.yaml
  middleware/api/src/middleware/api/api/fastapi_app.py
  middleware/api/src/middleware/api/arc_store/arc_store_config.py
  middleware/api/src/middleware/api/arc_store/factory.py
  middleware/api/src/middleware/api/arc_store/legacy_config.py
  middleware/api/src/middleware/api/arc_store/resolution.py
  middleware/api/src/middleware/api/business_logic/arc_manager.py
  middleware/api/src/middleware/api/business_logic/business_logic.py
  middleware/api/src/middleware/api/business_logic/business_logic_factory.py
  middleware/api/src/middleware/api/business_logic/config.py
  middleware/api/src/middleware/api/config.py
  middleware/api/src/middleware/api/health_service.py
  middleware/api/src/middleware/api/worker/celery_app.py
  middleware/api/src/middleware/api/worker/config.py
  middleware/api/tests/integration/test_system_git_repo.py
  middleware/api/tests/unit/conftest.py
  middleware/api/tests/unit/test_admission_control.py
  middleware/api/tests/unit/test_arc_store_resolution.py
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_business_logic_factory.py
  middleware/api/tests/unit/test_config.py
  middleware/api/tests/unit/test_health_service.py
  middleware/api/tests/unit/test_v2_arcs.py
  middleware/api/tests/unit/test_v3_arcs.py
  middleware/shared/src/middleware/shared/api_models/v1/models.py
  middleware/shared/src/middleware/shared/api_models/v2/models.py
  middleware/shared/src/middleware/shared/api_models/v3/models.py
  openspec/changes/dual-arc-store-slots/design.md
  openspec/changes/dual-arc-store-slots/proposal.md
  openspec/changes/dual-arc-store-slots/specs/arc-store/spec.md
  openspec/changes/dual-arc-store-slots/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Implement dual-arc store slots configuration and update related specifications
  openspec/changes/archive/2026-09-28-dual-arc-store-slots/.openspec.yaml
  openspec/changes/archive/2026-09-28-dual-arc-store-slots/design.md
  openspec/changes/archive/2026-09-28-dual-arc-store-slots/proposal.md
  openspec/changes/archive/2026-09-28-dual-arc-store-slots/specs/arc-manager/spec.md
  openspec/changes/archive/2026-09-28-dual-arc-store-slots/specs/arc-store/spec.md
  openspec/changes/archive/2026-09-28-dual-arc-store-slots/specs/arc-upload/spec.md
  openspec/changes/archive/2026-09-28-dual-arc-store-slots/specs/harvest-manager/spec.md
  openspec/changes/archive/2026-09-28-dual-arc-store-slots/tasks.md
  openspec/specs/arc-manager/spec.md
  openspec/specs/arc-store/spec.md
  openspec/specs/arc-upload/spec.md
  openspec/specs/harvest-manager/spec.md
Due: none

Update GitLab API configuration to use arc_store structure
  middleware/api/tests/system_external/conftest.py
  middleware/api/tests/system_external/test_system_create_or_update_arcs.py
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor arc_store factory and update specifications
  middleware/api/src/middleware/api/arc_store/factory.py
  openspec/specs/arc-store/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance ArcStore documentation and validation logic
  middleware/api/src/middleware/api/arc_store/__init__.py
  middleware/api/src/middleware/api/arc_store/arc_store_config.py
  middleware/api/tests/unit/test_arc_store_resolution.py
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor ArcStore validation and configuration handling
  middleware/api/src/middleware/api/arc_store/factory.py
  middleware/api/src/middleware/api/arc_store/resolution.py
  middleware/api/src/middleware/api/config.py
  middleware/api/src/middleware/api/health_service.py
  middleware/api/src/middleware/api/worker/config.py
  middleware/api/tests/unit/test_arc_store_resolution.py
  middleware/api/tests/unit/test_config.py
  openspec/specs/arc-store/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance WorkerConfig to ignore API-only keys and update related tests
  middleware/api/src/middleware/api/worker/config.py
  middleware/api/tests/unit/test_arc_store_resolution.py
  openspec/specs/arc-store/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

chore: sync shared Devinfra paths from ad89e54
  versions.env
Due: none

chore: sync shared Devinfra paths from 30133c9
  .github/workflows/renovate.yml
  versions.env
Due: none

chore: sync shared Devinfra paths from a25b6bf
  .github/workflows/renovate.yml
  versions.env
Due: none

chore: sync shared Devinfra paths from 8658320
  docs/renovate.md
  renovate.json
Due: none

chore: sync shared Devinfra paths from 497b252
  .github/workflows/renovate.yml
  docs/renovate.md
  renovate.json
Due: none

chore: sync shared Devinfra paths from d39f962
  .agents/skills/review-fixer/SKILL.md
  .github/workflows/renovate.yml
  docs/ai_review_policy.md
  docs/renovate.md
  renovate.json
Due: none

chore: sync shared Devinfra paths from a26637e
  .agents/skills/review-fixer/SKILL.md
  .devcontainer/devcontainer.json
  .github/workflows/renovate.yml
  .vscode/extensions.json
  docs/ai_review_policy.md
  docs/devcontainer.md
  docs/quality.md
  docs/renovate.md
  renovate.json
  scripts/devcontainer-post-create.sh
Due: none

chore: sync shared Devinfra paths from 18bf1ca
  docs/renovate.md
  renovate.json
Due: none

chore: sync shared Devinfra paths from dc37bb0
  .agents/skills/code-review/SKILL.md
  .agents/skills/create-issue/SKILL.md
  .agents/skills/issue-fixer/SKILL.md
  .agents/skills/review-fixer/SKILL.md
  .cursor/commands/code-review.md
  .github/prompts/code-review.prompt.md
  docs/code-review.md
  docs/create-issue.md
  docs/issue-fixer.md
  docs/renovate.md
  docs/review-fixer.md
  docs/synced-paths.yaml
  renovate.json
  scripts/ai/README.md
  scripts/bin/m42-ai
Due: none

chore: sync shared Devinfra paths from 0840bc5
  .agents/skills/code-review/SKILL.md
  .agents/skills/create-issue/SKILL.md
  .agents/skills/issue-fixer/SKILL.md
  .agents/skills/review-fixer/SKILL.md
  .cursor/commands/code-review.md
  .github/prompts/code-review.prompt.md
  docs/ci.md
  docs/code-review.md
  docs/create-issue.md
  docs/issue-fixer.md
  docs/renovate.md
  docs/review-fixer.md
  docs/synced-paths.yaml
  renovate.json
  scripts/ai/README.md
  scripts/bin/m42-ai
Due: none

chore: sync shared Devinfra paths from dbe45c5
  .agents/skills/code-review/SKILL.md
  .agents/skills/create-issue/SKILL.md
  .agents/skills/issue-fixer/SKILL.md
  .agents/skills/review-fixer/SKILL.md
  .cursor/commands/code-review.md
  .github/prompts/code-review.prompt.md
  docs/ci.md
  docs/code-review.md
  docs/create-issue.md
  docs/issue-fixer.md
  docs/renovate.md
  docs/review-fixer.md
  docs/synced-paths.yaml
  package-lock.json
  package.json
  renovate.json
  scripts/ai/README.md
  scripts/bin/m42-ai
  versions.env
Due: none

chore: sync shared Devinfra paths from 7220432
  .agents/skills/code-review/SKILL.md
  .agents/skills/create-issue/SKILL.md
  .agents/skills/issue-fixer/SKILL.md
  .agents/skills/review-fixer/SKILL.md
  .cursor/commands/code-review.md
  .github/prompts/code-review.prompt.md
  docs/ci.md
  docs/code-review.md
  docs/create-issue.md
  docs/issue-fixer.md
  docs/renovate.md
  docs/review-fixer.md
  docs/synced-paths.yaml
  package-lock.json
  package.json
  renovate.json
  scripts/ai/README.md
  scripts/ai/src/m42_ai/cli.py
  scripts/ai/src/m42_ai/issue.py
  scripts/ai/tests/test_issue_contracts.py
  scripts/bin/m42-ai
  versions.env
Due: ruff, ruff-format

Add main Docker check workflow and update test for ConsolidatedStoreConfig
  .github/workflows/main-docker-check.yml
  middleware/api/tests/unit/test_arc_store_resolution.py
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance error handling in ArcManager and BusinessLogic for transient failures
  middleware/api/src/middleware/api/business_logic/arc_manager.py
  middleware/api/src/middleware/api/business_logic/business_logic.py
  middleware/api/src/middleware/api/worker/worker.py
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_worker.py
  openspec/specs/arc-manager/spec.md
  openspec/specs/harvest-manager/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

Add unit tests for Celery task retry exhaustion handling
  middleware/api/tests/unit/test_worker.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: sync shared Devinfra paths from 54fe1c3
  .devcontainer/Dockerfile
  docs/devcontainer.md
Due: none

Add ARC ID identity verification mechanism
  openspec/changes/arc-id-identity-verify/.openspec.yaml
  openspec/changes/arc-id-identity-verify/design.md
  openspec/changes/arc-id-identity-verify/proposal.md
  openspec/changes/arc-id-identity-verify/specs/arc-manager/spec.md
  openspec/changes/arc-id-identity-verify/specs/arc-upload/spec.md
  openspec/changes/arc-id-identity-verify/specs/document-store/spec.md
  openspec/changes/arc-id-identity-verify/specs/harvest-arc-upload/spec.md
  openspec/changes/arc-id-identity-verify/tasks.md
Due: none

Implement identity conflict handling for ARC documents
  middleware/api/src/middleware/api/api/v3/arcs.py
  middleware/api/src/middleware/api/api/v3/harvests.py
  middleware/api/src/middleware/api/business_logic/__init__.py
  middleware/api/src/middleware/api/business_logic/arc_manager.py
  middleware/api/src/middleware/api/business_logic/exceptions.py
  middleware/api/src/middleware/api/document_store/__init__.py
  middleware/api/src/middleware/api/document_store/couchdb.py
  middleware/api/src/middleware/api/utils.py
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_couchdb_store.py
  middleware/api/tests/unit/test_v3_arcs.py
  middleware/api/tests/unit/test_v3_harvests.py
  openspec/changes/arc-id-identity-verify/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor iter_arc_contents_by_rdi method to be an async generator
  middleware/api/src/middleware/api/document_store/__init__.py
Due: ruff, ruff-format, mypy, bandit, pylint

Add identity verification for ARC documents
  openspec/changes/archive/2026-10-01-arc-id-identity-verify/.openspec.yaml
  openspec/changes/archive/2026-10-01-arc-id-identity-verify/design.md
  openspec/changes/archive/2026-10-01-arc-id-identity-verify/proposal.md
  openspec/changes/archive/2026-10-01-arc-id-identity-verify/specs/arc-manager/spec.md
  openspec/changes/archive/2026-10-01-arc-id-identity-verify/specs/arc-upload/spec.md
  openspec/changes/archive/2026-10-01-arc-id-identity-verify/specs/document-store/spec.md
  openspec/changes/archive/2026-10-01-arc-id-identity-verify/specs/harvest-arc-upload/spec.md
  openspec/changes/archive/2026-10-01-arc-id-identity-verify/tasks.md
  openspec/specs/arc-manager/spec.md
  openspec/specs/arc-upload/spec.md
  openspec/specs/document-store/spec.md
  openspec/specs/harvest-arc-upload/spec.md
Due: none

Enhance CeleryBrokerHealthChecker with durable connection management
  middleware/api/src/middleware/api/api/fastapi_app.py
  middleware/api/src/middleware/api/celery_integration.py
  middleware/api/tests/unit/test_celery_broker_health.py
Due: ruff, ruff-format, mypy, bandit, pylint

Remove unused celery_app attribute from CeleryBrokerHealthChecker initialization
  middleware/api/src/middleware/api/celery_integration.py
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor API v1 endpoints and update documentation
  docs/architecture/workspace.dsl
  middleware/api/src/middleware/api/api/fastapi_app.py
  middleware/api/src/middleware/api/api/v1/__init__.py
  middleware/api/src/middleware/api/api/v1/arcs.py
  middleware/api/src/middleware/api/api/v1/tasks.py
  middleware/api/tests/integration/test_system_git_repo.py
  middleware/api/tests/system_external/test_system_create_or_update_arcs.py
  middleware/api/tests/unit/test_middleware_api.py
  middleware/shared/src/middleware/shared/api_models/__init__.py
  middleware/shared/src/middleware/shared/api_models/v1/models.py
  middleware/shared/tests/unit/test_api_models.py
  openspec/specs/arc-upload/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

Update API v1 Router documentation and rename test helpers
  docs/architecture/workspace.dsl
  middleware/api/tests/system_external/test_system_create_or_update_arcs.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: sync shared Devinfra paths from f25fc00
  .markdownlint-cli2.jsonc
  .markdownlintignore
  .prettierignore
  scripts/ai/README.md
  scripts/ai/src/m42_ai/review.py
  scripts/ai/tests/fixtures/copilot_ccr_previously_missed.md
  scripts/ai/tests/test_review_filter.py
Due: ruff, ruff-format

Remove deprecated GitlabApi and harvest polling stubs
  openspec/changes/remove-gitlab-api-and-harvest-polling-stubs/.openspec.yaml
  openspec/changes/remove-gitlab-api-and-harvest-polling-stubs/design.md
  openspec/changes/remove-gitlab-api-and-harvest-polling-stubs/proposal.md
  openspec/changes/remove-gitlab-api-and-harvest-polling-stubs/specs/arc-store/spec.md
  openspec/changes/remove-gitlab-api-and-harvest-polling-stubs/tasks.md
Due: none

Refactor ArcStore configuration to remove deprecated GitlabApi
  AGENTS.md
  dev_environment/middleware-api-config.yaml
  docs/gitlab_related.md
  helmchart/fairagro-advanced-middleware-api-chart/templates/NOTES.txt
  helmchart/fairagro-advanced-middleware-api-chart/values.yaml
  middleware/api/example_config.yaml
  middleware/api/src/middleware/api/arc_store/arc_store_config.py
  middleware/api/src/middleware/api/arc_store/factory.py
  middleware/api/src/middleware/api/arc_store/gitlab_api/__init__.py
  middleware/api/src/middleware/api/arc_store/gitlab_api/store.py
  middleware/api/src/middleware/api/arc_store/resolution.py
  middleware/api/src/middleware/api/business_logic/config.py
  middleware/api/src/middleware/api/config.py
  middleware/api/src/middleware/api/worker/config.py
  middleware/api/tests/system_external/conftest.py
  middleware/api/tests/system_external/test_system_create_or_update_arcs.py
  middleware/api/tests/unit/conftest.py
  middleware/api/tests/unit/test_arc_store_resolution.py
  middleware/api/tests/unit/test_business_logic_factory.py
  middleware/api/tests/unit/test_gitlab_api_config.py
  middleware/api/tests/unit/test_middleware_api.py
  middleware/api/tests/unit/test_persistence_gitlab_api.py
  middleware/api/tests/unit/test_system_v2_arcs.py
  middleware/api/tests/unit/test_unit_create_or_update_arcs.py
  middleware/api/tests/unit/test_v2_arcs.py
  middleware/api/tests/unit/test_v3_arcs.py
  middleware/api/tests/unit/test_v3_harvests.py
  middleware/api/tests/unit/test_whoami.py
  middleware/api_client/tests/integration/conftest.py
  openspec/changes/remove-gitlab-api-and-harvest-polling-stubs/design.md
  openspec/changes/remove-gitlab-api-and-harvest-polling-stubs/proposal.md
  openspec/changes/remove-gitlab-api-and-harvest-polling-stubs/tasks.md
  openspec/specs/arc-store/design.md
  openspec/specs/arc-store/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor configuration and remove deprecated properties
  middleware/api/src/middleware/api/arc_store/__init__.py
  middleware/api/src/middleware/api/arc_store/consolidated_git/store.py
  middleware/api/src/middleware/api/worker/celery_app.py
  middleware/api/src/middleware/api/worker/config.py
  middleware/api/tests/integration/test_system_git_repo.py
  middleware/api/tests/system_external/conftest.py
  middleware/api/tests/system_external/test_system_create_or_update_arcs.py
  middleware/api/tests/unit/conftest.py
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_business_logic_factory.py
  middleware/api/tests/unit/test_config.py
  middleware/api/tests/unit/test_consolidated_git_arc_store.py
  middleware/api/tests/unit/test_lifespan_errors.py
  middleware/api/tests/unit/test_middleware_api.py
  middleware/api/tests/unit/test_system_v2_arcs.py
  middleware/api/tests/unit/test_whoami.py
  middleware/api_client/src/middleware/api_client/config.py
  middleware/shared/src/middleware/shared/api_models/v1/models.py
  pyproject.toml
Due: ruff, ruff-format, mypy, bandit, pylint

Add rate limiting for ARC and harvest write endpoints
  openspec/changes/rate-limiting-arc-endpoints/.openspec.yaml
  openspec/changes/rate-limiting-arc-endpoints/design.md
  openspec/changes/rate-limiting-arc-endpoints/proposal.md
  openspec/changes/rate-limiting-arc-endpoints/specs/rate-limiting/spec.md
  openspec/changes/rate-limiting-arc-endpoints/tasks.md
Due: none

Add per-client rate limiting for harvest and ARC write endpoints
  AGENTS.md
  dev_environment/middleware-api-config.yaml
  middleware/api/src/middleware/api/api/fastapi_app.py
  middleware/api/src/middleware/api/api/rate_limiting.py
  middleware/api/src/middleware/api/config.py
  middleware/api/tests/unit/test_rate_limiting.py
  openspec/changes/rate-limiting-arc-endpoints/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor rate limiting documentation and add archived specs
  AGENTS.md
  openspec/changes/archive/2026-10-01-rate-limiting-arc-endpoints/.openspec.yaml
  openspec/changes/archive/2026-10-01-rate-limiting-arc-endpoints/design.md
  openspec/changes/archive/2026-10-01-rate-limiting-arc-endpoints/proposal.md
  openspec/changes/archive/2026-10-01-rate-limiting-arc-endpoints/specs/rate-limiting/spec.md
  openspec/changes/archive/2026-10-01-rate-limiting-arc-endpoints/tasks.md
  openspec/specs/rate-limiting/design.md
  openspec/specs/rate-limiting/spec.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: ^middleware/ and \.py$
  bandit: any of: ^middleware/ and \.py$ and not (^middleware/tests/)
  pylint: any of: ^middleware/ and \.py$
