Repository fairagro/m4.2_advanced_middleware_api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit, pylint

.pre-commit-config.yaml:

# Pre-commit configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# All hooks use 'uv run' to execute tools defined in pyproject.toml
# This ensures consistency with the quality-check.sh script and uv.lock

repos:
  # Built-in hooks (no dependencies needed)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^helmchart/[^/]+/templates/.*\.ya?ml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/gitguardian/ggshield
    rev: v1.44.1
    hooks:
      - id: ggshield

  # All Python quality checks using uv run (local hooks)
  - repo: local
    hooks:
      # Ruff - Linting
      - id: ruff
        name: ruff lint
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix, --exit-non-zero-on-fix]

      # Ruff - Formatting
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      # mypy - Type checking
      - id: mypy
        name: mypy type check
        entry: uv run mypy
        language: system
        types: [python]
        files: ^middleware/
        args: [--explicit-package-bases, --ignore-missing-imports]

      # bandit - Security linting
      - id: bandit
        name: bandit security scan
        entry: uv run bandit -r
        language: system
        types: [python]
        files: ^middleware/
        exclude: ^middleware/tests/
        args: [--skip, B101, -ll]

      # pylint - Code quality
      - id: pylint
        name: pylint
        entry: uv run pylint
        language: system
        types: [python]
        files: ^middleware/
        args: [--fail-under=8.0, --output-format=colorized, --rcfile=pyproject.toml]

      # pytest - Unit tests only (runs on pre-push to keep commits fast)
      - id: pytest-unit
        name: pytest unit tests
        entry: bash -c "uv run pytest middleware/*/tests/unit/"
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-push]
        args: [--tb=short, --cov=api, --cov=api_client,--cov=shared, --cov=sql_to_arc, --cov-report=term-missing]

      # Container Structure Test (runs on pre-push)
      - id: container-structure-test
        name: container structure test
        entry: bash scripts/run-container-structure-test.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

Refactor unit tests for CouchDB client mock integration
  middleware/api/tests/unit/test_harvest_idempotency.py
  middleware/api/tests/unit/test_harvest_manager.py
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance ApiClient to support Idempotency-Key in retry logic
  middleware/api_client/src/middleware/api_client/api_client.py
  middleware/api_client/tests/unit/test_client.py
Due: ruff, ruff-format, mypy, bandit, pylint

Remove document existence check in CouchDBClient's create method to streamline document creation process
  middleware/api/src/middleware/api/document_store/couchdb_client.py
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance idempotency handling in HarvestManager and CouchDB
  middleware/api/src/middleware/api/business_logic/harvest_manager.py
  middleware/api/src/middleware/api/document_store/couchdb.py
  middleware/api/tests/unit/test_harvest_idempotency.py
  middleware/api/tests/unit/test_harvest_manager.py
Due: ruff, ruff-format, mypy, bandit, pylint

Implement rollback mechanism for failed document commits in CouchDB
  middleware/api/src/middleware/api/document_store/couchdb.py
  middleware/api/tests/unit/test_harvest_idempotency.py
Due: ruff, ruff-format, mypy, bandit, pylint

Update ApiClient to conditionally send Idempotency-Key based on mTLS configuration
  middleware/api_client/src/middleware/api_client/api_client.py
  middleware/api_client/tests/unit/test_client.py
  openspec/changes/harvest-create-idempotency-key/design.md
  openspec/changes/harvest-create-idempotency-key/proposal.md
  openspec/changes/harvest-create-idempotency-key/specs/harvest-client/spec.md
  openspec/changes/harvest-create-idempotency-key/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance error handling during document creation rollback in CouchDB
  middleware/api/src/middleware/api/document_store/couchdb.py
  middleware/api/tests/unit/test_harvest_idempotency.py
  middleware/api_client/tests/unit/test_client.py
Due: ruff, ruff-format, mypy, bandit, pylint

deps: Update astral-sh/setup-uv action to v10
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-code-quality.yml
  .github/workflows/reusable-release.yml
Due: none

Enhance error handling during document creation rollback in CouchDB
  middleware/api/src/middleware/api/business_logic/exceptions.py
  middleware/api/tests/unit/test_harvest_idempotency.py
  openspec/changes/harvest-create-idempotency-key/design.md
Due: ruff, ruff-format, mypy, bandit, pylint

Update idempotency document ID pattern to use NUL separator
  openspec/changes/harvest-create-idempotency-key/design.md
Due: none

Enhance rollback handling in CouchDB during idempotency commit failures
  middleware/api/src/middleware/api/document_store/couchdb.py
  middleware/api/tests/unit/test_harvest_idempotency.py
  middleware/api_client/src/middleware/api_client/api_client.py
  middleware/api_client/tests/unit/test_client.py
  openspec/changes/harvest-create-idempotency-key/design.md
  openspec/changes/harvest-create-idempotency-key/specs/harvest-client/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

[200~Update ApiClient documentation and tests for Idempotency-Key handling
  middleware/api_client/src/middleware/api_client/api_client.py
  middleware/api_client/tests/unit/test_client.py
  openspec/changes/harvest-create-idempotency-key/design.md
  openspec/changes/harvest-create-idempotency-key/specs/harvest-client/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

Refine ApiClient documentation for Idempotency-Key handling
  middleware/api_client/src/middleware/api_client/api_client.py
Due: ruff, ruff-format, mypy, bandit, pylint

Add test for ARC content hash ignoring dateModified differences
  middleware/api/tests/unit/test_content_hash.py
Due: ruff, ruff-format, mypy, bandit, pylint

Implement JSON canonicalization for stable ARC content hashing
  middleware/api/src/middleware/api/document_store/content_hash.py
  middleware/api/tests/unit/test_content_hash.py
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor JSON sorting logic in content hashing
  middleware/api/src/middleware/api/document_store/content_hash.py
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance content hashing by allowing non-allowlisted list order preservation
  middleware/api/src/middleware/api/document_store/content_hash.py
  middleware/api/tests/unit/test_content_hash.py
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor canonicalization logic in content hashing
  middleware/api/src/middleware/api/document_store/content_hash.py
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor sorting mechanism in JSON canonicalization for content hashing
  middleware/api/src/middleware/api/document_store/content_hash.py
Due: ruff, ruff-format, mypy, bandit, pylint

Implement GitLab topic normalization and enhance project scanning logic
  scripts/delete_gitlab_arc_projects.py
Due: ruff, ruff-format

Remove GitLab topic normalization function and related argument handling
  scripts/delete_gitlab_arc_projects.py
Due: ruff, ruff-format

Refine topic argument handling in GitLab project deletion script
  scripts/delete_gitlab_arc_projects.py
Due: ruff, ruff-format

Centralize --topic validation in _validate_args
  scripts/delete_gitlab_arc_projects.py
Due: ruff, ruff-format

Enhance quality check and fix scripts for commit-stage hooks
  .devcontainer/README.md
  AGENTS.md
  scripts/quality-check.sh
  scripts/quality-fix.sh
Due: none

Add keyword normalization and sorting for content hashing
  middleware/api/src/middleware/api/document_store/content_hash.py
  middleware/api/tests/unit/test_content_hash.py
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance content hashing by normalizing reference list order
  middleware/api/src/middleware/api/document_store/content_hash.py
  middleware/api/tests/unit/test_content_hash.py
Due: ruff, ruff-format, mypy, bandit, pylint

Add stable ARC content hash specification and implementation
  openspec/changes/stable-arc-content-hash/.openspec.yaml
  openspec/changes/stable-arc-content-hash/design.md
  openspec/changes/stable-arc-content-hash/proposal.md
  openspec/changes/stable-arc-content-hash/specs/arc-content-hash/spec.md
  openspec/changes/stable-arc-content-hash/specs/document-store/spec.md
  openspec/changes/stable-arc-content-hash/tasks.md
Due: none

Implement keyword canonicalization and enhance content hash stability
  AGENTS.md
  middleware/api/src/middleware/api/document_store/content_hash.py
  middleware/api/tests/unit/test_content_hash.py
  openspec/changes/stable-arc-content-hash/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Update package versions and dependencies in `uv.lock`
  uv.lock
Due: none

Update comments for clarity in content hash implementation
  middleware/api/src/middleware/api/document_store/content_hash.py
  openspec/changes/stable-arc-content-hash/specs/document-store/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance keyword canonicalization in content hash implementation
  middleware/api/src/middleware/api/document_store/content_hash.py
  middleware/api/tests/unit/test_content_hash.py
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance keyword handling in content hash implementation
  middleware/api/src/middleware/api/document_store/content_hash.py
  middleware/api/tests/unit/test_content_hash.py
  openspec/changes/stable-arc-content-hash/design.md
  openspec/changes/stable-arc-content-hash/specs/arc-content-hash/spec.md
Due: ruff, ruff-format, mypy, bandit, pylint

Add Consolidated Git ArcStore Implementation
  openspec/changes/consolidated-git-arc-store/.openspec.yaml
  openspec/changes/consolidated-git-arc-store/design.md
  openspec/changes/consolidated-git-arc-store/proposal.md
  openspec/changes/consolidated-git-arc-store/specs/arc-store/spec.md
  openspec/changes/consolidated-git-arc-store/specs/arc-upload/spec.md
  openspec/changes/consolidated-git-arc-store/specs/harvest-manager/spec.md
  openspec/changes/consolidated-git-arc-store/tasks.md
Due: none

Refine Consolidated Git ArcStore Implementation
  openspec/changes/consolidated-git-arc-store/design.md
  openspec/changes/consolidated-git-arc-store/proposal.md
  openspec/changes/consolidated-git-arc-store/specs/arc-store/spec.md
  openspec/changes/consolidated-git-arc-store/specs/harvest-manager/spec.md
  openspec/changes/consolidated-git-arc-store/tasks.md
Due: none

Refactor type annotations and imports across multiple test files
  middleware/api/src/middleware/api/document_store/__init__.py
  middleware/api/tests/system_local/test_system_couchdb_persistence.py
  middleware/api/tests/unit/test_arc_store_resolution.py
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_couchdb_client.py
  middleware/api/tests/unit/test_unit_create_or_update_arcs.py
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor field definitions in `harvest_document.py` to improve clarity
  middleware/api/src/middleware/api/document_store/harvest_document.py
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor tests in `test_business_logic_factory.py` and `test_couchdb_store.py` to improve mock handling and assertions
  middleware/api/tests/unit/test_business_logic_factory.py
  middleware/api/tests/unit/test_couchdb_store.py
Due: ruff, ruff-format, mypy, bandit, pylint
