Repository fairagro/m4.2_advanced_middleware_api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit, pylint

.pre-commit-config.yaml:

# Pre-commit configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# All hooks use 'uv run' to execute tools defined in pyproject.toml
# This ensures consistency with the quality-check.sh script and uv.lock

repos:
  # Built-in hooks (no dependencies needed)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^helmchart/[^/]+/templates/.*\.ya?ml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/gitguardian/ggshield
    rev: v1.44.1
    hooks:
      - id: ggshield

  # All Python quality checks using uv run (local hooks)
  - repo: local
    hooks:
      # Ruff - Linting
      - id: ruff
        name: ruff lint
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix, --exit-non-zero-on-fix]

      # Ruff - Formatting
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      # mypy - Type checking
      - id: mypy
        name: mypy type check
        entry: uv run mypy
        language: system
        types: [python]
        files: ^middleware/
        args: [--explicit-package-bases, --ignore-missing-imports]

      # bandit - Security linting
      - id: bandit
        name: bandit security scan
        entry: uv run bandit -r
        language: system
        types: [python]
        files: ^middleware/
        exclude: ^middleware/tests/
        args: [--skip, B101, -ll]

      # pylint - Code quality
      - id: pylint
        name: pylint
        entry: uv run pylint
        language: system
        types: [python]
        files: ^middleware/
        args: [--fail-under=8.0, --output-format=colorized, --rcfile=pyproject.toml]

      # pytest - Unit tests only (runs on pre-push to keep commits fast)
      - id: pytest-unit
        name: pytest unit tests
        entry: bash -c "uv run pytest middleware/*/tests/unit/"
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-push]
        args: [--tb=short, --cov=api, --cov=api_client,--cov=shared, --cov=sql_to_arc, --cov-report=term-missing]

      # Container Structure Test (runs on pre-push)
      - id: container-structure-test
        name: container structure test
        entry: bash scripts/run-container-structure-test.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

Add harvest completion retry mechanism and related specifications
  openspec/changes/harvest-complete-retryable/.openspec.yaml
  openspec/changes/harvest-complete-retryable/design.md
  openspec/changes/harvest-complete-retryable/proposal.md
  openspec/changes/harvest-complete-retryable/specs/harvest-client/spec.md
  openspec/changes/harvest-complete-retryable/specs/harvest-manager/spec.md
  openspec/changes/harvest-complete-retryable/tasks.md
Due: none

Enhance ApiClient with harvest completion retry logic and tests
  middleware/api_client/src/middleware/api_client/api_client.py
  middleware/api_client/tests/unit/test_client.py
  openspec/changes/harvest-complete-retryable/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Add harvest completion retryable design and specifications
  openspec/changes/archive/2026-10-01-harvest-complete-retryable/.openspec.yaml
  openspec/changes/archive/2026-10-01-harvest-complete-retryable/design.md
  openspec/changes/archive/2026-10-01-harvest-complete-retryable/proposal.md
  openspec/changes/archive/2026-10-01-harvest-complete-retryable/specs/harvest-client/spec.md
  openspec/changes/archive/2026-10-01-harvest-complete-retryable/specs/harvest-manager/spec.md
  openspec/changes/archive/2026-10-01-harvest-complete-retryable/tasks.md
  openspec/specs/harvest-client/spec.md
  openspec/specs/harvest-manager/spec.md
Due: none

Add rate limiting configuration and new unit test for rate limiting behavior
  dev_environment/middleware-api-config.yaml
  middleware/api/tests/unit/test_rate_limiting.py
Due: ruff, ruff-format, mypy, bandit, pylint

Update harvest completion scenarios to reflect retry behavior after connection errors
  openspec/changes/archive/2026-10-01-harvest-complete-retryable/specs/harvest-client/spec.md
  openspec/specs/harvest-client/spec.md
Due: none

Add strict validation for rate limiting configuration and enhance client key resolution
  middleware/api/src/middleware/api/api/rate_limiting.py
  middleware/api/src/middleware/api/config.py
  middleware/api/tests/unit/test_rate_limiting.py
Due: ruff, ruff-format, mypy, bandit, pylint

Add new design and proposal for ARC as JSON string in Celery tasks
  openspec/changes/arc-celery-json-string/.openspec.yaml
  openspec/changes/arc-celery-json-string/design.md
  openspec/changes/arc-celery-json-string/proposal.md
  openspec/changes/arc-celery-json-string/specs/arc-manager/spec.md
  openspec/changes/arc-celery-json-string/tasks.md
Due: none

Refactor ArcSyncTask to use JSON string for arc payload
  middleware/api/src/middleware/api/business_logic/arc_manager.py
  middleware/api/src/middleware/api/business_logic/business_logic.py
  middleware/api/src/middleware/api/business_logic/task_payloads.py
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_worker.py
  openspec/changes/arc-celery-json-string/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Add new specification and design for ARC as JSON string in Celery tasks
  openspec/changes/archive/2026-10-01-arc-celery-json-string/.openspec.yaml
  openspec/changes/archive/2026-10-01-arc-celery-json-string/design.md
  openspec/changes/archive/2026-10-01-arc-celery-json-string/proposal.md
  openspec/changes/archive/2026-10-01-arc-celery-json-string/specs/arc-manager/spec.md
  openspec/changes/archive/2026-10-01-arc-celery-json-string/tasks.md
  openspec/specs/arc-manager/design.md
  openspec/specs/arc-manager/spec.md
Due: none

Implement expired window pruning in RateLimitingMiddleware and add corresponding unit test
  middleware/api/src/middleware/api/api/rate_limiting.py
  middleware/api/tests/unit/test_rate_limiting.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: sync shared Devinfra paths from 038d2c8
  scripts/ai/README.md
  scripts/ai/src/m42_ai/cli.py
  scripts/ai/src/m42_ai/openspec_instructions.py
  scripts/ai/tests/test_openspec_instructions.py
Due: ruff, ruff-format

Update arctrl dependency to version 3.2.2 and remove compatibility shims
  middleware/api/pyproject.toml
  middleware/api/src/middleware/api/arc_store/__init__.py
  middleware/api/src/middleware/api/arc_store/arctrl_compat.py
  middleware/api/tests/unit/test_arctrl_compat.py
  middleware/api/tests/unit/test_arctrl_write.py
  middleware/api/tests/unit/test_rate_limiting.py
  middleware/tools/pyproject.toml
  middleware/tools/repro_fable_int32_divmod.py
  middleware/tools/rocrate2arc.py
  uv.lock
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance GitLab project handling in GitlabGitProvider
  middleware/api/src/middleware/api/arc_store/git_repo/remote_git_provider.py
  middleware/api/tests/system_external/conftest.py
  middleware/api/tests/system_external/test_system_create_or_update_arcs.py
  middleware/api/tests/unit/test_remote_repo_manager.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: sync shared Devinfra paths from 0a2aa56
  .github/workflows/renovate.yml
Due: none

chore: sync shared Devinfra paths from fe00b10
  .github/workflows/renovate.yml
  docs/conventions.md
  docs/devcontainer.md
  scripts/ai/tests/test_dev_tokens_store.py
  scripts/bin/gh
  scripts/bin/git
  scripts/dev-tokens.sh
Due: ruff, ruff-format

chore: sync shared Devinfra paths from de2768d
  .github/workflows/renovate.yml
  docs/ci.md
  docs/conventions.md
  docs/devcontainer.md
  scripts/ai/tests/test_dev_tokens_store.py
  scripts/bin/gh
  scripts/bin/git
  scripts/dev-tokens.sh
Due: ruff, ruff-format

Add embed RDI investigation comments feature
  openspec/changes/embed-rdi-investigation-comments/.openspec.yaml
  openspec/changes/embed-rdi-investigation-comments/design.md
  openspec/changes/embed-rdi-investigation-comments/proposal.md
  openspec/changes/embed-rdi-investigation-comments/specs/arc-manager/spec.md
  openspec/changes/embed-rdi-investigation-comments/specs/arc-upload/spec.md
  openspec/changes/embed-rdi-investigation-comments/specs/harvest-arc-upload/spec.md
  openspec/changes/embed-rdi-investigation-comments/tasks.md
Due: none

Refactor RDI handling to support object form in configuration
  dev_environment/middleware-api-config.yaml
  helmchart/fairagro-advanced-middleware-api-chart/values.yaml
  middleware/api/example_config.yaml
  middleware/api/src/middleware/api/api/common/dependencies.py
  middleware/api/src/middleware/api/business_logic/arc_manager.py
  middleware/api/src/middleware/api/business_logic/business_logic.py
  middleware/api/src/middleware/api/business_logic/config.py
  middleware/api/src/middleware/api/business_logic/rdi_comments.py
  middleware/api/src/middleware/api/config.py
  middleware/api/src/middleware/api/rdi_registry.py
  middleware/api/src/middleware/api/worker/config.py
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_config.py
  middleware/api/tests/unit/test_rdi_comments.py
  openspec/changes/embed-rdi-investigation-comments/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Embed RDI investigation comments in ARC ingestion process
  AGENTS.md
  openspec/changes/archive/2026-10-05-embed-rdi-investigation-comments/.openspec.yaml
  openspec/changes/archive/2026-10-05-embed-rdi-investigation-comments/design.md
  openspec/changes/archive/2026-10-05-embed-rdi-investigation-comments/proposal.md
  openspec/changes/archive/2026-10-05-embed-rdi-investigation-comments/specs/arc-manager/spec.md
  openspec/changes/archive/2026-10-05-embed-rdi-investigation-comments/specs/arc-upload/spec.md
  openspec/changes/archive/2026-10-05-embed-rdi-investigation-comments/specs/harvest-arc-upload/spec.md
  openspec/changes/archive/2026-10-05-embed-rdi-investigation-comments/tasks.md
  openspec/specs/arc-manager/spec.md
  openspec/specs/arc-upload/spec.md
  openspec/specs/harvest-arc-upload/spec.md
Due: none

Refactor RDI registry handling in BusinessLogic and rdi_comments module
  middleware/api/src/middleware/api/business_logic/business_logic.py
  middleware/api/src/middleware/api/business_logic/rdi_comments.py
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_config.py
  middleware/api/tests/unit/test_rdi_comments.py
  middleware/api/tests/unit/test_worker.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: sync shared Devinfra paths from cfa8237
  .github/workflows/renovate.yml
  docs/ci.md
  docs/conventions.md
  docs/devcontainer.md
  package-lock.json
  scripts/ai/tests/test_dev_tokens_store.py
  scripts/bin/gh
  scripts/bin/git
  scripts/dev-tokens.sh
Due: ruff, ruff-format

Enhance RDI comments handling in rdi_comments module
  middleware/api/src/middleware/api/business_logic/rdi_comments.py
  middleware/api/tests/unit/test_rdi_comments.py
Due: ruff, ruff-format, mypy, bandit, pylint

Add Helm linting support for Feature PRs
  openspec/changes/wire-feature-pr-helm-lint/.openspec.yaml
  openspec/changes/wire-feature-pr-helm-lint/design.md
  openspec/changes/wire-feature-pr-helm-lint/proposal.md
  openspec/changes/wire-feature-pr-helm-lint/specs/ci-cd/spec.md
  openspec/changes/wire-feature-pr-helm-lint/tasks.md
Due: none

Add helm detection and linting support in Feature PR workflow
  .github/workflows/feature-pull-request.yml
  openspec/changes/wire-feature-pr-helm-lint/tasks.md
Due: none

Add initial support for Helm linting in Feature PR workflow
  openspec/changes/archive/2026-10-06-wire-feature-pr-helm-lint/.openspec.yaml
  openspec/changes/archive/2026-10-06-wire-feature-pr-helm-lint/design.md
  openspec/changes/archive/2026-10-06-wire-feature-pr-helm-lint/proposal.md
  openspec/changes/archive/2026-10-06-wire-feature-pr-helm-lint/specs/ci-cd/spec.md
  openspec/changes/archive/2026-10-06-wire-feature-pr-helm-lint/tasks.md
  openspec/specs/ci-cd/design.md
  openspec/specs/ci-cd/spec.md
Due: none

Refactor comment handling in rdi_comments module to prevent duplication
  middleware/api/src/middleware/api/business_logic/rdi_comments.py
  middleware/api/tests/unit/test_rdi_comments.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: sync shared Devinfra paths from b20c741
  .pre-commit-config.yaml
  docs/ci.md
  docs/quality.md
  docs/synced-paths.yaml
  scripts/run-helm-lint.sh
Due: none

Update AGENTS.md to correct file path formatting for rdi_comments module
  AGENTS.md
Due: none

Update CI/CD design documentation for reusable workflows
  openspec/specs/ci-cd/design.md
Due: none

Enhance Feature PR workflow with Helm chart values file
  helmchart/fairagro-advanced-middleware-api-chart/values.yaml
  helmchart/test_deploy/values-ci-smoke.yaml
Due: none

Add persistence for per-item harvest errors
  openspec/changes/persist-harvest-item-errors/.openspec.yaml
  openspec/changes/persist-harvest-item-errors/design.md
  openspec/changes/persist-harvest-item-errors/proposal.md
  openspec/changes/persist-harvest-item-errors/specs/harvest-arc-upload/spec.md
  openspec/changes/persist-harvest-item-errors/specs/harvest-client/spec.md
  openspec/changes/persist-harvest-item-errors/specs/harvest-manager/spec.md
  openspec/changes/persist-harvest-item-errors/tasks.md
  openspec/specs/harvest-arc-upload/spec.md
Due: none

deps: Lock file maintenance
  scripts/ai/uv.lock
  uv.lock
Due: none

chore: sync shared Devinfra paths from 03c41f6
  docs/ci.md
  docs/quality.md
  scripts/run-helm-lint.sh
Due: none

Implement error handling for harvest submissions
  middleware/api/src/middleware/api/api/v3/harvests.py
  middleware/api/src/middleware/api/business_logic/harvest_manager.py
  middleware/api/src/middleware/api/document_store/__init__.py
  middleware/api/src/middleware/api/document_store/couchdb.py
  middleware/api/src/middleware/api/document_store/harvest_document.py
  middleware/api/tests/unit/test_append_harvest_error.py
  middleware/api/tests/unit/test_harvest_document.py
  middleware/api/tests/unit/test_v3_harvests.py
  middleware/api_client/src/middleware/api_client/api_client.py
  middleware/api_client/src/middleware/api_client/models.py
  middleware/api_client/tests/unit/test_client.py
  middleware/api_client/tests/unit/test_harvest_arcs.py
  middleware/shared/src/middleware/shared/api_models/v3/models.py
  middleware/shared/tests/unit/test_api_models.py
  openspec/changes/persist-harvest-item-errors/tasks.md
Due: ruff, ruff-format, mypy, bandit, pylint

Enhance harvest error handling and persistence
  AGENTS.md
  openspec/changes/archive/2026-10-07-persist-harvest-item-errors/.openspec.yaml
  openspec/changes/archive/2026-10-07-persist-harvest-item-errors/design.md
  openspec/changes/archive/2026-10-07-persist-harvest-item-errors/proposal.md
  openspec/changes/archive/2026-10-07-persist-harvest-item-errors/specs/harvest-arc-upload/spec.md
  openspec/changes/archive/2026-10-07-persist-harvest-item-errors/specs/harvest-client/spec.md
  openspec/changes/archive/2026-10-07-persist-harvest-item-errors/specs/harvest-manager/spec.md
  openspec/changes/archive/2026-10-07-persist-harvest-item-errors/tasks.md
  openspec/specs/harvest-arc-upload/spec.md
  openspec/specs/harvest-client/spec.md
  openspec/specs/harvest-manager/spec.md
Due: none

Refactor type hint for _low_celery_retries function from Iterator to Generator for improved clarity in test_worker.py
  middleware/api/tests/unit/test_worker.py
Due: ruff, ruff-format, mypy, bandit, pylint

Refactor error handling in harvest submissions
  middleware/api/src/middleware/api/api/v3/harvests.py
  middleware/api/src/middleware/api/business_logic/harvest_manager.py
  middleware/api/tests/unit/test_v3_harvests.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: sync shared Devinfra paths from 741fa35
  docs/renovate.md
  renovate.json
  scripts/ai/uv.lock
Due: none

Enhance ARC store Git synchronization with commit/push status reporting
  middleware/api/src/middleware/api/arc_store/__init__.py
  middleware/api/src/middleware/api/arc_store/consolidated_git/store.py
  middleware/api/src/middleware/api/arc_store/git_context.py
  middleware/api/src/middleware/api/arc_store/git_repo/store.py
  middleware/api/src/middleware/api/business_logic/arc_manager.py
  middleware/api/tests/unit/test_arc_store.py
  middleware/api/tests/unit/test_business_logic.py
  middleware/api/tests/unit/test_consolidated_git_arc_store.py
  middleware/api/tests/unit/test_git_context_commit_and_push.py
  middleware/shared/src/middleware/shared/api_models/common/models.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: update package versions in Dockerfile.api
  docker/Dockerfile.api
Due: none
