Repository fairagro/m4.2_advanced_middleware_api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit, pylint

ruff:
  name: ruff lint
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  args:
  - --ignore-missing-imports

bandit:
  name: bandit security scan
  entry: uv run bandit -r
  language: system
  args:
  - --skip
  - B101
  - -ll

pylint:
  name: pylint
  entry: uv run pylint
  language: system
  args:
  - --fail-under=8.0
  - --output-format=colorized
  - --rcfile=pyproject.toml

narrowed down caught exception types
  middleware_api/api.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: bump version to 3.0.0 [skip ci]
  pyproject.toml
Due: none

whoami noew returns the list of accessible rdis
  middleware_api/api.py
  middleware_api/business_logic.py
  tests/unit/test_middleware_api.py
  tests/unit/test_whoami.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: bump version to 4.0.0 [skip ci]
  pyproject.toml
Due: none

added some debug messages
  middleware_api/api.py
Due: ruff, ruff-format, mypy, bandit, pylint

Update middleware_api/api.py
  middleware_api/api.py
Due: ruff, ruff-format, mypy, bandit, pylint

chore: bump version to 4.0.1 [skip ci]
  pyproject.toml
Due: none

added som more unit tests concerning allowed rdi logic and added some more debugging
  middleware_api/api.py
  middleware_api/arc_store/gitlab_api.py
  middleware_api/business_logic.py
  tests/conftest.py
  tests/unit/conftest.py
  tests/unit/test_middleware_api.py
  tests/unit/test_whoami.py
Due: ruff, ruff-format, mypy, bandit, pylint

moved import to the top, do not use class attributes in tests any more
  tests/unit/test_middleware_api.py
Due: ruff, ruff-format

chore: bump version to 4.0.2 [skip ci]
  pyproject.toml
Due: none

made client certificate check optional, so we can access swagger (/docs) without client certificate. We how rely on the header field "ssl-client-verify", which is set by ingress-nginx
  helmchart/fairagro-advanced-middleware-api-chart/templates/ingress.yaml
Due: none

replced mimetype "ro-crate-json" by "json", as the ARC RoCrate JSON is now embedded into a broader pure JSON body.
  middleware_api/api.py
  tests/integration/test_create_or_update_arcs.py
  tests/unit/test_middleware_api.py
Due: ruff, ruff-format, mypy, bandit, pylint

refactored response fields and added annotations
  middleware_api/api.py
  middleware_api/business_logic.py
Due: ruff, ruff-format, mypy, bandit, pylint

added missing "rdi" field to the mock objekt and added a few related asserts
  tests/unit/test_middleware_api.py
Due: ruff, ruff-format

removed unneeded fixture
  tests/unit/conftest.py
Due: ruff, ruff-format

added some more unit tests to deal with missing or invalid client certificates
  tests/unit/test_middleware_api.py
Due: ruff, ruff-format

creatign annotated tags, which is suggested by ChatGPT to fix a failing github workflow
  .github/workflows/docker-release.yml
  .github/workflows/helm-release.yml
Due: none

Update tests/unit/test_middleware_api.py
  tests/unit/test_middleware_api.py
Due: ruff, ruff-format

using pydantic models as response type, so we can see the descriptions in swagger
  middleware_api/api.py
  tests/unit/test_middleware_api.py
Due: ruff, ruff-format, mypy, bandit, pylint

refactored endpoint dependencies and corresponding tests
  middleware_api/api.py
  tests/unit/test_middleware_api.py
Due: ruff, ruff-format, mypy, bandit, pylint

fixed tests
  tests/unit/test_middleware_api.py
Due: ruff, ruff-format

chore: bump version to 6.0.0 [skip ci]
  pyproject.toml
Due: none

restructured folder, so we can add further python projects to the sam repo
  .pre-commit-config.yaml
  .vscode/settings.json
  doc/python_related.md
  docker/Dockerfile.api
  docker/container-structure-tests/api.yaml
  middleware/__init__.py
  middleware/api/__init__.py
  middleware/api/api.py
  middleware/api/arc_store/__init__.py
  middleware/api/arc_store/gitlab_api.py
  middleware/api/business_logic.py
  middleware/api/config.py
  middleware/api/main.py
  middleware/api/pyproject.toml
  middleware/api/utils/__init__.py
  middleware/api/utils/config_wrapper.py
  middleware/tests/__init__.py
  middleware/tests/api/__init__.py
  middleware/tests/api/conftest.py
  middleware/tests/api/integration/__init__.py
  middleware/tests/api/integration/conftest.py
  middleware/tests/api/integration/test_create_or_update_arcs.py
  middleware/tests/api/integration/test_whoami.py
  middleware/tests/api/unit/__init__.py
  middleware/tests/api/unit/conftest.py
  middleware/tests/api/unit/test_create_or_update_arcs.py
  middleware/tests/api/unit/test_middleware_api.py
  middleware/tests/api/unit/test_persistence_gitlab_api.py
  middleware/tests/api/unit/test_whoami.py
  middleware/tests/api/unit/utils/__init__.py
  middleware/tests/api/unit/utils/test_config_wrapper.py
  middleware/tools/arc2rocrate.py
  middleware/tools/rocrate2arc.py
  pyproject.toml
  scripts/run-container-structure-test.sh
  tests/.gitkeep
  uv.lock
Due: ruff, ruff-format

fixed unit test path
  .pre-commit-config.yaml
Due: none

fixed typo
  .pre-commit-config.yaml
Due: none

updated github workflow
  .github/workflows/docker-build.yml
  .github/workflows/python-quality.yml
Due: none

refactored workflows with in ide in mind that be will be several software components in future
  .github/workflows/docker-build.yml
  .github/workflows/docker-release.yml
  .github/workflows/python-quality.yml
Due: none

don't try to detect components automatically
  .github/workflows/docker-build.yml
  .github/workflows/docker-release.yml
Due: none

fixed loaded docker image
  .github/workflows/docker-build.yml
Due: none

fixed parameter passing
  .github/workflows/docker-build.yml
  .github/workflows/docker-release.yml
Due: none

dealing with several sboms
  .github/workflows/docker-release.yml
Due: none

created missing sbon directory
  .github/workflows/docker-release.yml
Due: none

bumped versions to circumvent deprecation warnings
  .github/workflows/codeql.yml
  .github/workflows/docker-release.yml
Due: none

fixing bandit runs
  .github/workflows/python-quality.yml
  .pre-commit-config.yaml
Due: none

dealing with versions
  middleware/api/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

a first prototype
  .gitguardian.yaml
  dev_environment/compose.yaml
  dev_environment/import_edaphobase.sh
  middleware/api/config.py
  middleware/api/pyproject.toml
  middleware/shared/__init__.py
  middleware/shared/config_base.py
  middleware/shared/config_wrapper.py
  middleware/sql_to_arc/pyproject.toml
  middleware/sql_to_arc/src/sql_to_arc/__init__.py
  middleware/sql_to_arc/src/sql_to_arc/config.py
  middleware/sql_to_arc/src/sql_to_arc/main.py
  middleware/tests/api/integration/conftest.py
  middleware/tests/api/unit/utils/test_config_wrapper.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format

new package structure
  .vscode/settings.json
  middleware/__init__.py
  middleware/api/pyproject.toml
  middleware/api/src/middleware/api/__init__.py
  middleware/api/src/middleware/api/api.py
  middleware/api/src/middleware/api/arc_store/__init__.py
  middleware/api/src/middleware/api/arc_store/gitlab_api.py
  middleware/api/src/middleware/api/business_logic.py
  middleware/api/src/middleware/api/config.py
  middleware/api/src/middleware/api/main.py
  middleware/api_client/pyproject.toml
  middleware/shared/pyproject.toml
  middleware/shared/src/middleware/shared/__init__.py
  middleware/shared/src/middleware/shared/config_base.py
  middleware/shared/src/middleware/shared/config_wrapper.py
  middleware/sql_to_arc/pyproject.toml
  middleware/sql_to_arc/src/middleware/sql_to_arc/__init__.py
  middleware/sql_to_arc/src/middleware/sql_to_arc/config.py
  middleware/sql_to_arc/src/middleware/sql_to_arc/main.py
  middleware/tests/api/unit/test_middleware_api.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: ^middleware_api/ and \.py$
  bandit: any of: ^middleware_api/ and \.py$ and not (^tests/)
  pylint: any of: ^middleware_api/ and \.py$
